$btnwidth:60px;

%formline {
	vertical-align: middle;
}

.note-header {
	padding: 12px 30px;
	color: rgba(255,255,255,0.75);
	background-color: #24292e;
}
.note-box {
	position: relative;
	transform: translate3D(0, -30px, 0);
    margin: 0;
	height: 0;
	overflow: hidden;
    border-radius: 5px;
	border: 1px solid #d1d5da;
	background-color: $bgColor;
	opacity: 0;
	transition-duration: 0.5s;
	&.open {
		opacity: 1;
		margin: 30px 0;
		height: 232px;
		transform: translate3D(0, 0, 0);
	}
}
.note-title {
	margin: 30px 0;
	padding: 20px;
	border-radius: 5px;
	border: 2px dashed rgba(27,31,35,0.3);
	vertical-align: baseline;
}
.note-form {
	padding: 20px;
}
.note-input {
	@extend %formline;
	display: inline-block;
	// width: calc(100% - #{$btnwidth});
}
.note-memo {
	// box-shadow: 1px 1px 3px #f2f2f2;
	border: 1px solid #f6f6f6;
	background-color: $bgColor;
}
.note-content-wrap {
	& > ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		& > li {
			// margin: 0 20px 20px 0;
			margin-bottom: 20px;
			width: 100%;
		}
	}
}
.memo-bar {
	height: 40px;
	line-height: 40px;
	@extend %clear;
	& > * {
		float: right;
		line-height: 40px;
		cursor: pointer;
	}
	& > *:first-child {
		float: left;
		line-height: 40px;
	}
	& > .el-icon-close, & > .el-icon-edit, & > .el-icon-check {
		margin-right: 10px;
		color: #666;
		font-size: 12px;
	}
}
.memo-title {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
}
.memo-content {
	padding: 0 20px 10px 20px;
	min-height: 30px;
	line-height: 30px;
	font-size: 12px;
}
@media screen and (min-width: 768px) {
	.note-content-wrap > ul > li {
		width: 48%;
	}
}
@media screen and (min-width: 992px) {
	.note-content-wrap > ul > li {
		width: 32%;
	}
}
@media screen and (min-width: 1200px) {
	.note-content-wrap > ul > li {
		width: 24%;
	}
}